<component name="ArtifactManager">
  <artifact type="war" name="springCloudDEMO:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springCloudDEMO.war">
      <element id="artifact" artifact-name="springCloudDEMO:war exploded" />
    </root>
  </artifact>
</component>